################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore/v16/Server/sqlite3
