################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore/v16/Server/sqlite3
/BookStore/BookStore.Models/obj/Debug
/BookStore/BookStore.DataAccessLayer/obj/Debug
/BookStore/packages/EntityFramework.6.2.0
/BookStore/BookStore.DataAccessLayer/bin/Debug
/BookStore/BookStore.Models/bin/Debug
/BookStore/BookStore.BusinessLogicLayer/bin/Debug
/BookStore/BookStore.BusinessLogicLayer/obj/Debug
/BookStore/BookStore.Common/bin/Debug
/BookStore/BookStore.Common/obj/Debug
/BookStore/.vs
