<li class="nav-item dropdown d-sm-block">
    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profiles
    </a>
    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
        <a href="@Url.Action("UserManagement", "AdminManagement")" class="dropdown-item">User Management</a>
        <a href="@Url.Action("RoleManagement", "AdminManagement")" class="dropdown-item">Role Management</a>
    </div>
</li>