<li class="nav-item dropdown d-sm-block">
    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Product
    </a>
    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
        <a class="dropdown-item" href="@Url.Action("Index", "BookManagement")">Book Management</a>
        <a class="dropdown-item" href="@Url.Action("Index", "CategoryManagement")">Category Management</a>
        <a class="dropdown-item" href="@Url.Action("Index", "AuthorManagement")">Author Management</a>
        <a class="dropdown-item" href="@Url.Action("Index", "PublisherManagement")">Publisher Management</a>
    </div>
</li>