@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>


<h3>Thông tin về công ty</h3>
<ul>
    <li>Công ty Cổ Phần ViVu</li>
    <li>Địa chỉ đăng ký kinh doanh: Hà Nội, Việt Nam</li>
    <li>Giấy chứng nhận Đăng ký Kinh doanh số 12345678 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 01/01/2018</li>
</ul>
<br>
<h3>Văn phòng Book Store</h3>
