@model BooksListByPriceViewModel
@{
    ViewData["Title"] = $"{Model.CurrentPrice}";
}

<h2>@ViewBag.CurrentPrice</h2>

<div class="row">
    @foreach (Book book in Model.Books)
    {
        @Html.Partial("_BookOverview", book)
    }
</div>